//                                         $$\                                      
//                                    \_  $$ |                                  
//  $$$$$$\$$$$\   $$$$$$\  $$$$$$$\  $$\ $$$$$$\    $$$$$$\   $$$$$$\  $$\   $$\ 
//  $$  _$$  _$$\ $$  __$$\ $$  __$$\ $$ |\_$$  _|  $$  __$$\ $$  __$$\ $$ |  $$ |
//  $$ / $$ / $$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |    $$ /  $$ |$$ |  \__|$$ |  $$ |
//  $$ | $$ | $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$\ $$ |  $$ |$$ |      $$ |  $$ |
//  $$ | $$ | $$ |\$$$$$$  |$$ |  $$ |$$ |  \$$$$  |\$$$$$$  |$$ |      \$$$$$$$ |
//  \__| \__| \__| \______/ \__|  \__|\__|   \____/  \______/ \__|       \____$$ |
//                                                                       $$\   $$ |
//                                                                      \$$$$$$  |
//                                                                       \______/  
//                                              

output "DP-1" {
    mode "1920x1080@180.003"
    scale 1 
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

output "DP-2" {
    mode "1920x1080@60.000"
    scale 1
    transform "180"
    position x=1920 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@74.973"
    scale 1
    transform "normal"
    position x=1920 y=-1080
}

