layout {
    focus-ring {
        active-color "#ffb4ab"
        inactive-color "#a08c8a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4ab"
        inactive-color "#a08c8a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4ab"
        inactive-color "#a08c8a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4ab80"
    }
}

