//              $$\                          $$\                         
//              $$ |                         $$ |                        
//   $$$$$$$\ $$$$$$\    $$$$$$\   $$$$$$\ $$$$$$\   $$\   $$\  $$$$$$\  
//  $$  _____|\_$$  _|   \____$$\ $$  __$$\\_$$  _|  $$ |  $$ |$$  __$$\ 
//  \$$$$$$\    $$ |     $$$$$$$ |$$ |  \__| $$ |    $$ |  $$ |$$ /  $$ |
//   \____$$\   $$ |$$\ $$  __$$ |$$ |       $$ |$$\ $$ |  $$ |$$ |  $$ |
//  $$$$$$$  |  \$$$$  |\$$$$$$$ |$$ |       \$$$$  |\$$$$$$  |$$$$$$$  |
//  \_______/    \____/  \_______|\__|        \____/  \______/ $$  ____/ 
//                                                           $$ |      
//                                                           $$ |      
//                                                           \__|      
//

spawn-sh-at-startup "sleep 2 && mpc clear && mpc add / && mpc shuffle && mpc consume on"
spawn-at-startup "opendeck"
spawn-at-startup "vicinae" "server"
spawn-at-startup "lutris"
spawn-at-startup "nicotine"
spawn-at-startup "musicpresence"
spawn-at-startup "bitwarden-desktop"
spawn-at-startup "flatpak" "run" "com.discordapp.Discord"
spawn-sh-at-startup "zen-browser"
spawn-at-startup "awww-daemon"
spawn-at-startup "vesktop"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "kitty"
spawn-sh-at-startup "sleep 4.2 && kitty --app-id=looks lavat" 
spawn-sh-at-startup "sleep 3.2 && kitty --app-id=looks peaclock --config-dir ~/.config/peaclock"
spawn-sh-at-startup "sleep 2.2 && kitty --app-id=looks cmatrix"
spawn-sh-at-startup "sleep 1.2 && kitty --app-id=looks pipes.sh"
spawn-sh-at-startup "sleep 5.2 && kitty --app-id=music -o font_size=14 rmpc"
spawn-sh-at-startup "rm -r ~/.config/obs-studio/.sentinel"
spawn-sh-at-startup "sleep 2 && obs --disable-shutdown-check --startreplaybuffer"


// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
