//                                      $$\                                                                   
//                                      $$ |                                                                  
//    $$\  $$\  $$\  $$$$$$\   $$$$$$\  $$ |  $$\  $$$$$$$\  $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\   $$$$$$$\ 
//    $$ | $$ | $$ |$$  __$$\ $$  __$$\ $$ | $$  |$$  _____|$$  __$$\  \____$$\ $$  _____|$$  __$$\ $$  _____|
//    $$ | $$ | $$ |$$ /  $$ |$$ |  \__|$$$$$$  / \$$$$$$\  $$ /  $$ | $$$$$$$ |$$ /      $$$$$$$$ |\$$$$$$\  
//    $$ | $$ | $$ |$$ |  $$ |$$ |      $$  _$$<   \____$$\ $$ |  $$ |$$  __$$ |$$ |      $$   ____| \____$$\ 
//    \$$$$$\$$$$  |\$$$$$$  |$$ |      $$ | \$$\ $$$$$$$  |$$$$$$$  |\$$$$$$$ |\$$$$$$$\ \$$$$$$$\ $$$$$$$  |
//     \_____\____/  \______/ \__|      \__|  \__|\_______/ $$  ____/  \_______| \_______| \_______|\_______/ 
//                                                          $$ |                                              
//                                                          $$ |                                              
//                                                          \__|                                              



// DP-1 to main monitor
// DP-2 to ten z angli
// HDMI-A-1 to lg



workspace "discord" {
	open-on-output "DP-2"
}

workspace "top" {
	open-on-output "HDMI-A-1"
}

workspace "topwork" {
    open-on-output "HDMI-A-1"
}

workspace "toputility" {
	open-on-output "HDMI-A-1"
}

workspace "main" {
	open-on-output "DP-1"
}

workspace "pr*ca" {
	open-on-output "DP-1"
}

workspace "steametc" {
	open-on-output "DP-1"
}



